################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.ipch
*.wsuo
*.db
*.db-shm
*.db-wal
*.opendb
*.lock
*.sqlite
*.json
*.c
*.exe
*.cpp
*.obj
*.cmake
*.bin
*.h
*.check_cache
*.yaml
*.txt
